@import url('https://fonts.cdnfonts.com/css/thegoodmonolith');

:root{
--font-color: rgb(0, 251, 255);
--shadow-color: 283deg 8% 11%;
--shadow-elevation-low:
  0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
  0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
  1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
--shadow-elevation-medium:
  0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
  0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
  2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
  5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
--shadow-elevation-high:
  0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
  1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
  2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
  4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
  7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
  11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
  17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
  25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

body {
    background: #1e1e1e;
    color:var(--font-color);
    font-family: 'TheGoodMonolith', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    grid-template-areas:
        "header"
        "main"
}

head {
    grid-area: "header";
}

main {
    grid-area: "main";
}

.filters {
    margin-bottom: 1rem;
}


.results {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    flex-basis: 10%;
    transition: all .2s ease-out;
    
    &:hover {
        transform: scale(150%);
        z-index: 100;
    }
    
    img {
        border: 2px solid var(--font-color);
        border-radius: 1rem;
        width: 100%;
        box-shadow: var(--shadow-elevation-high);
    }

    a{
        padding: 0;
        margin: 0;
        display: flex;
    }
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  border-color: var(--font-color);
  animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}